body{
    background-image: linear-gradient(to right,black,white); 
}
.Lili{width: 100px; height: 100px;}
.vascudo{ position: relative;
    top: 20px;
    left: 385px;
color: beige;}
.Liber{ position: relative;
    top: -70px;
    left: 500px;}